fastapi==0.115.11
uvicorn==0.34.0
pydantic==2.10.6

# LangChain & 관련 패키지
langchain==0.3.26
langchain-core==0.3.70
langchain-community==0.3.19
langchain-google-genai==2.1.8
langgraph==0.3.11
langsmith==0.3.45

# 기타 유틸
requests==2.32.3
rdkit==2024.9.5
typing-extensions==4.12.2
playwright==1.50.0
beautifulsoup4==4.12.3
nest-asyncio==1.6.0

